.androidLarge9Child {
  position: absolute;
  top: 78px;
  left: 0;
  background-color: var(--color-maroon);
  width: 360px;
  height: 33px;
}
.div {
  top: 0;
  left: 4px;
  width: 51px;
  height: 20px;
}
.div,
.div1,
.informationOnTechsoc {
  position: absolute;
  display: inline-block;
}
.informationOnTechsoc {
  top: 83px;
  left: 70px;
  color: var(--color-white);
  width: 245px;
  height: 38px;
}
.div1 {
  top: 36px;
  left: 294px;
  width: 15px;
  height: 20px;
}
.vectorIcon {
  position: absolute;
  height: 2.5%;
  width: 5.56%;
  top: 0.38%;
  right: 68.89%;
  bottom: 97.13%;
  left: 25.56%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.batteryIcon,
.vectorIcon1,
.vectorIcon2 {
  position: absolute;
  top: 0;
  left: 327px;
  width: 30px;
  height: 32px;
  overflow: hidden;
}
.vectorIcon1,
.vectorIcon2 {
  height: 2%;
  width: 3.89%;
  top: 0.38%;
  right: 10.83%;
  bottom: 97.63%;
  left: 85.28%;
  max-width: 100%;
  max-height: 100%;
}
.vectorIcon2 {
  height: 3.25%;
  width: 7.5%;
  top: 4.38%;
  right: 90.56%;
  bottom: 92.38%;
  left: 1.94%;
  cursor: pointer;
}
.layer2Icon,
.vectorIcon3,
.vectorIcon4,
.vectorIcon5,
.vectorIcon6 {
  position: absolute;
  height: 3%;
  width: 6.11%;
  top: 4.5%;
  right: 24.44%;
  bottom: 92.5%;
  left: 69.44%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.layer2Icon,
.vectorIcon4,
.vectorIcon5,
.vectorIcon6 {
  top: 10.38%;
  right: 1.94%;
  bottom: 86.63%;
  left: 91.94%;
}
.layer2Icon,
.vectorIcon5,
.vectorIcon6 {
  width: 6.94%;
  top: 4.5%;
  right: 13.61%;
  bottom: 92.5%;
  left: 79.44%;
}
.vectorIcon5,
.vectorIcon6 {
  height: 2.3%;
  width: 1.22%;
  top: 4.75%;
  right: 5.44%;
  bottom: 92.95%;
  left: 93.33%;
}
.vectorIcon6 {
  height: 2.25%;
  width: 5.83%;
  top: 10.75%;
  right: 91.39%;
  bottom: 87%;
  left: 2.78%;
  cursor: pointer;
}
.androidLarge9Item {
  position: absolute;
  top: 782px;
  left: 351px;
  border-radius: var(--br-4xs);
  background-color: var(--color-blanchedalmond-100);
  box-shadow: 5px 5px 1px #000;
  border: 2px solid var(--color-mediumblue);
  box-sizing: border-box;
  width: 344px;
  height: 50px;
  transform: rotate(180deg);
  transform-origin: 0 0;
  opacity: 0.6;
}
.vectorIcon7,
.vectorIcon8 {
  position: absolute;
  height: 2.88%;
  width: 6.11%;
  top: 93.13%;
  right: 5.28%;
  bottom: 4%;
  left: 88.61%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon8 {
  height: 2.5%;
  width: 5.56%;
  top: 0.38%;
  right: 78.61%;
  bottom: 97.13%;
  left: 15.83%;
}
.androidLarge9Inner {
  position: absolute;
  top: 34px;
  left: 39px;
  border-radius: var(--br-41xl);
  background-color: var(--color-darkgray);
  box-shadow: 4px 8px 14px rgba(0, 0, 0, 0.25);
  width: 207px;
  height: 31px;
}
.dosteiitmacin {
  position: absolute;
  top: 43px;
  left: 73px;
  font-size: var(--font-size-smi);
  color: var(--color-gray-200);
  display: inline-block;
  width: 173px;
  height: 30px;
}
.vectorIcon9 {
  position: absolute;
  height: 2.5%;
  width: 4.44%;
  top: 4.88%;
  right: 81.67%;
  bottom: 92.63%;
  left: 13.89%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangleDiv {
  position: absolute;
  top: 120px;
  left: 8px;
  border-radius: var(--br-4xs);
  background-color: var(--color-sandybrown);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 348px;
  height: 41px;
}
.canIHave {
  position: absolute;
  top: 131px;
  left: 57px;
  font-size: var(--font-size-mini);
  display: inline-block;
  width: 272px;
  height: 27px;
}
.iphoto1Icon {
  position: absolute;
  top: 123px;
  left: 12px;
  border-radius: var(--br-12xs);
  width: 35px;
  height: 35px;
  object-fit: cover;
}
.androidLarge9Child1 {
  position: absolute;
  top: 173px;
  left: 6px;
  border-radius: var(--br-4xs);
  background-color: var(--color-blanchedalmond-100);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 348px;
  height: 513px;
}
.techsocIsThe {
  margin: 0;
}
.veranstaltung {
  margin-bottom: 0;
}
.veranstaltungBuildschoolCont {
  margin: 0;
  padding-left: var(--padding-xl);
}
.techsocIsTheContainer {
  position: absolute;
  top: 182px;
  left: 55px;
  font-size: var(--font-inherit);
  font-family: var(--font-inherit);
  display: inline-block;
  width: 296px;
  height: 563px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.groupIcon,
.thumbsUp {
  position: absolute;
  overflow: hidden;
}
.groupIcon {
  height: 2.38%;
  width: 19.44%;
  top: 82%;
  right: 2.5%;
  bottom: 15.63%;
  left: 78.06%;
  max-width: 100%;
  max-height: 100%;
}
.thumbsUp {
  top: 611px;
  left: 88px;
  width: 24px;
  height: 24px;
}
.whatsappImage20230918At7 {
  position: absolute;
  top: 185px;
  left: 15px;
  width: 29px;
  height: 29px;
  object-fit: cover;
  mix-blend-mode: darken;
}
.androidLarge9 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 800px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
