.androidLarge7Child {
  position: absolute;
  top: 78px;
  left: 0;
  background-color: var(--color-maroon);
  width: 360px;
  height: 33px;
}
.div {
  top: 0;
  left: 4px;
  width: 51px;
  height: 20px;
}
.div,
.div1,
.newChat {
  position: absolute;
  display: inline-block;
}
.newChat {
  top: 82px;
  left: 140px;
  color: var(--color-white);
  width: 96px;
  height: 24px;
}
.div1 {
  top: 36px;
  left: 294px;
  width: 15px;
  height: 20px;
}
.vectorIcon {
  position: absolute;
  height: 2.5%;
  width: 5.56%;
  top: 0.38%;
  right: 68.89%;
  bottom: 97.13%;
  left: 25.56%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.batteryIcon,
.vectorIcon1 {
  position: absolute;
  top: 0;
  left: 327px;
  width: 30px;
  height: 32px;
  overflow: hidden;
}
.vectorIcon1 {
  height: 2%;
  width: 3.89%;
  top: 0.38%;
  right: 10.83%;
  bottom: 97.63%;
  left: 85.28%;
  max-width: 100%;
  max-height: 100%;
}
.layer2Icon,
.vectorIcon2,
.vectorIcon3,
.vectorIcon4,
.vectorIcon5,
.vectorIcon6 {
  position: absolute;
  height: 3.25%;
  width: 7.5%;
  top: 4.38%;
  right: 90.56%;
  bottom: 92.38%;
  left: 1.94%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.layer2Icon,
.vectorIcon3,
.vectorIcon4,
.vectorIcon5,
.vectorIcon6 {
  height: 3%;
  width: 6.11%;
  top: 4.5%;
  right: 24.44%;
  bottom: 92.5%;
  left: 69.44%;
}
.layer2Icon,
.vectorIcon4,
.vectorIcon5,
.vectorIcon6 {
  top: 10.25%;
  right: 1.39%;
  bottom: 86.75%;
  left: 92.5%;
}
.layer2Icon,
.vectorIcon5,
.vectorIcon6 {
  width: 6.94%;
  top: 4.5%;
  right: 13.61%;
  bottom: 92.5%;
  left: 79.44%;
}
.vectorIcon5,
.vectorIcon6 {
  height: 2.3%;
  width: 1.22%;
  top: 4.75%;
  right: 5.44%;
  bottom: 92.95%;
  left: 93.33%;
}
.vectorIcon6 {
  height: 2.25%;
  width: 5.83%;
  top: 10.75%;
  right: 91.39%;
  bottom: 87%;
  left: 2.78%;
  cursor: pointer;
}
.androidLarge7Item {
  position: absolute;
  top: 781px;
  left: 348px;
  border-radius: var(--br-4xs);
  background-color: var(--color-blanchedalmond-100);
  box-shadow: 5px 5px 1px #000;
  border: 2px solid var(--color-mediumblue);
  box-sizing: border-box;
  width: 340px;
  height: 51px;
  transform: rotate(180deg);
  transform-origin: 0 0;
  opacity: 0.6;
}
.vectorIcon7,
.vectorIcon8 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon7 {
  height: 3.13%;
  width: 6.11%;
  top: 93%;
  right: 6.11%;
  bottom: 3.88%;
  left: 87.78%;
  cursor: pointer;
}
.vectorIcon8 {
  height: 2.5%;
  width: 5.56%;
  top: 0.38%;
  right: 78.61%;
  bottom: 97.13%;
  left: 15.83%;
}
.androidLarge7Inner {
  position: absolute;
  top: 34px;
  left: 39px;
  border-radius: var(--br-41xl);
  background-color: var(--color-darkgray);
  box-shadow: 4px 8px 14px rgba(0, 0, 0, 0.25);
  width: 207px;
  height: 31px;
}
.dosteiitmacin {
  position: absolute;
  top: 43px;
  left: 73px;
  font-size: var(--font-size-smi);
  color: var(--color-gray-200);
  display: inline-block;
  width: 173px;
  height: 30px;
}
.vectorIcon9 {
  position: absolute;
  height: 2.5%;
  width: 4.44%;
  top: 4.88%;
  right: 81.67%;
  bottom: 92.63%;
  left: 13.89%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.doste,
.dosteWrapper {
  position: absolute;
  width: 131.81px;
  height: 30.7px;
}
.doste {
  top: 0;
  left: 0;
  display: inline-block;
}
.dosteWrapper {
  top: 314px;
  left: 129px;
  font-size: var(--font-size-17xl);
  color: var(--color-gray-300);
}
.canIHave {
  position: absolute;
  top: 744px;
  left: 16px;
  font-size: 18px;
  display: inline-block;
  width: 295px;
  height: 24px;
}
.rectangleIcon {
  position: absolute;
  top: 370px;
  left: 35px;
  border-radius: var(--br-4xs);
  width: 291px;
  height: 122px;
}
.introducingYourUltimate {
  position: absolute;
  top: 386px;
  left: 46px;
  font-size: var(--font-size-mini);
  text-align: justify;
  display: flex;
  align-items: center;
  width: 272px;
  height: 92px;
  opacity: 0.45;
}
.whatsappImage20230918At7 {
  position: absolute;
  top: 179px;
  left: 116px;
  width: 134px;
  height: 134px;
  object-fit: cover;
  mix-blend-mode: darken;
}
.androidLarge7 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 800px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
